<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/HP.png" width="36" height="36" alt=
  "Health Icon"></td>
  <td class="p-2 m-4 w-36">{{champion_stats["stats"]["hp"]}}</td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["hpperlevel"]}}</td>
</tr>
<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/AbilityPower.png" width="24" height="24" alt=
  "Mana Icon"></td>
  <td class="p-2 m-4 w-36">{{champion_stats["stats"]["mp"]}}</td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["mpperlevel"]}}</td>
</tr>
<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/MoveSpeed.png" width="24" height="24" alt=
  "Movement Speed Icon"></td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["movespeed"]}}</td>
  <td class="p-2 m-4 w-36">0</td>
</tr>
<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/Armor.png" alt="Armor Icon" height="24" width=
  "24"></td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["armor"]}}</td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["armorperlevel"]}}</td>
</tr>
<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/MagicResist.png" width="24" height="24" alt=
  "Magic Resist Icon"></td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["spellblock"]}}</td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["spellblockperlevel"]}}</td>
</tr>
<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/AttackRange.png" width="24" height="24" alt=
  "Attack Range Icon"></td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["attackrange"]}}</td>
  <td class="p-2 m-4 w-36">0</td>
</tr>
<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/CriticalChance.png" width="24" height="24"
  alt="Critical Chance Icon"></td>
  <td class="p-2 m-4 w-36">{{champion_stats["stats"]["crit"]}}</td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["critperlevel"]}}</td>
</tr>
<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/AttackDamage.png" width="24" height="24" alt=
  "Attack Damage Icon"></td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["attackdamage"]}}</td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["attackdamageperlevel"]}}</td>
</tr>
<tr class="text-center">
  <td class="p-2 m-4 w-36"><img class="m-auto" src=
  "static/StatImages/AttackSpeed.png" width="24" height="24" alt=
  "Attack Speed Icon"></td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["attackspeed"]}}</td>
  <td class="p-2 m-4 w-36">
  {{champion_stats["stats"]["attackspeedperlevel"]}}</td>
</tr>
